__pycache__/
*.pyc
env/
.idea/
.vscode/
db.sqlite3
__pycache__/
*.pyc
.env
*.pdf

# macOS metadata files
.DS_Store
**/.DS_Store

# Project artifacts to ignore
media/
backups/
static/images/logo_old.png
