@font-face {
  font-family: 'DejaVu Sans';
  src: url('/static/fonts/DejaVuSans.ttf') format('truetype');
}

body {
  font-family: 'DejaVu Sans', sans-serif;
  font-size: 12px;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td, th {
  border: 1px solid #333;
  padding: 4px;
  text-align: left;
}
