{% extends 'base.html' %}
{% block content %}
<div class="table-responsive">
  <h1>Recherche de facturations</h1>
  <form method="get" class="form-inline mb-3">
    <input type="text"
           name="q"
           value="{{ request.GET.q }}"
           placeholder="Recherche…"
           class="form-control mr-2">
    <label><input type="checkbox" name="today" {% if request.GET.today %}checked{% endif %}> Aujourd'hui</label>
    <label class="ml-2"><input type="checkbox" name="week" {% if request.GET.week %}checked{% endif %}> Cette semaine</label>
    <label class="ml-2"><input type="checkbox" name="month" {% if request.GET.month %}checked{% endif %}> Ce mois</label>
    <button type="submit" class="btn btn-primary ml-2">Filtrer</button>
  </form>


  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Numéro Facture</th>
        <th>Numéro DN</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date Acte</th>
        <th>Code Acte</th>
        <th>Statut Dossier</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for facturation in facturations %}
      <tr>
        <td>{{ facturation.numero_facture }}</td>
        <td>{{ facturation.dn}}</td>
        <td>{{ facturation.nom }}</td>
        <td>{{ facturation.prenom }}</td>
        <td>{{ facturation.date_acte }}</td>
        <td>{{ facturation.code_acte.code_acte }}</td>
        <td>{{ facturation.get_statut_dossier_display }}</td>
        <td>
          <a href="{% url 'facturation_detail' facturation.pk %}" class="btn btn-info btn-sm">Détails</a>
          <a href="{% url 'facturation_update' facturation.pk %}" class="btn btn-warning btn-sm">Modiifier</a>
          <a href="{% url 'facturation_delete' facturation.pk %}" class="btn btn-danger btn-sm">Supp</a>
          {# Bouton Impression conditionnel #}
          {% if facturation.code_acte.parcours_soin %}
            <a href="{% url 'print_facture' facturation.pk %}" class="btn btn-primary btn-sm">
              Imprimer Feuille CPS
            </a>
          {% else %}
            <button
              class="btn btn-primary btn-sm print-btn"
              data-pk="{{ facturation.pk }}"
            >
              Impression de la Facture
            </button>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">Aucune facturation trouvée.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
